<section id="info__what__2" class="info__section--zebra" style=" ">
  <div class="info__content--multi-column">
    <h1 class="info__title--multi-column">
        <%= image_tag @current_community.wide_logo.url, class: "Logo__logoImage__3oOkB" %>
    </h1>


    <div class="info__columns">
      <div class="info__column--three-columns">
        <div class="info__column-text-content">
          <div class="info__column-icon info__what__2__info__column-icon">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
              <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
            </svg>
          </div>
          <h2 class="info__column-title"> Post a job (it’s free)</h2>

          <div class="info__column-paragraph--markdown">
            <p>
              Tell us about your project. Philanthropy Forward connects you with top talent to carry out
              your vision
          </div>
        </div>

      </div>
      <div class="info__column--three-columns">
        <div class="info__column-text-content">
          <div class="info__column-icon info__what__2__info__column-icon">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path d="M15.684,16.959L10.879,8.52c0.886-0.343,1.517-1.193,1.517-2.186c0-1.296-1.076-2.323-2.396-2.323S7.604,5.037,7.604,6.333c0,0.993,0.63,1.843,1.517,2.186l-4.818,8.439c-0.189,0.311,0.038,0.708,0.412,0.708h10.558C15.645,17.667,15.871,17.27,15.684,16.959 M8.562,6.333c0-0.778,0.645-1.382,1.438-1.382s1.438,0.604,1.438,1.382c0,0.779-0.645,1.412-1.438,1.412S8.562,7.113,8.562,6.333 M5.55,16.726L10,8.91l4.435,7.815H5.55z M15.285,9.62c1.26-2.046,1.26-4.525,0-6.572c-0.138-0.223-0.064-0.512,0.162-0.646c0.227-0.134,0.521-0.063,0.658,0.16c1.443,2.346,1.443,5.2,0,7.546c-0.236,0.382-0.641,0.17-0.658,0.159C15.221,10.131,15.147,9.842,15.285,9.62 M13.395,8.008c0.475-1.063,0.475-2.286,0-3.349c-0.106-0.238,0.004-0.515,0.246-0.62c0.242-0.104,0.525,0.004,0.632,0.242c0.583,1.305,0.583,2.801,0,4.106c-0.214,0.479-0.747,0.192-0.632,0.242C13.398,8.523,13.288,8.247,13.395,8.008 M3.895,10.107c-1.444-2.346-1.444-5.2,0-7.546c0.137-0.223,0.431-0.294,0.658-0.16c0.226,0.135,0.299,0.424,0.162,0.646c-1.26,2.047-1.26,4.525,0,6.572c0.137,0.223,0.064,0.512-0.162,0.646C4.535,10.277,4.131,10.489,3.895,10.107 M5.728,8.387c-0.583-1.305-0.583-2.801,0-4.106c0.106-0.238,0.39-0.346,0.631-0.242c0.242,0.105,0.353,0.382,0.247,0.62c-0.475,1.063-0.475,2.286,0,3.349c0.106,0.238-0.004,0.515-0.247,0.62c-0.062,0.027-0.128,0.04-0.192,0.04C5.982,8.668,5.807,8.563,5.728,8.387"></path>
            </svg>
          </div>
          <h2 class="info__column-title"> Proposals come to you</h2>

          <div class="info__column-paragraph--markdown">
            <p>
              Get qualified proposals within 24 hours. Compare proposals, reviews, and prior work.
              Interview favorites and hire the best fit.
          </div>
        </div>

      </div>
      <div class="info__column--three-columns">
        <div class="info__column-text-content">
          <div class="info__column-icon info__what__2__info__column-icon">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path d="M17.659,3.681H8.468c-0.211,0-0.383,0.172-0.383,0.383v2.681H2.341c-0.21,0-0.383,0.172-0.383,0.383v6.126c0,0.211,0.172,0.383,0.383,0.383h1.532v2.298c0,0.566,0.554,0.368,0.653,0.27l2.569-2.567h4.437c0.21,0,0.383-0.172,0.383-0.383v-2.681h1.013l2.546,2.567c0.242,0.249,0.652,0.065,0.652-0.27v-2.298h1.533c0.211,0,0.383-0.172,0.383-0.382V4.063C18.042,3.853,17.87,3.681,17.659,3.681 M11.148,12.87H6.937c-0.102,0-0.199,0.04-0.27,0.113l-2.028,2.025v-1.756c0-0.211-0.172-0.383-0.383-0.383H2.724V7.51h5.361v2.68c0,0.21,0.172,0.382,0.383,0.382h2.68V12.87z M17.276,9.807h-1.533c-0.211,0-0.383,0.172-0.383,0.383v1.755L13.356,9.92c-0.07-0.073-0.169-0.113-0.27-0.113H8.851v-5.36h8.425V9.807z"></path>
            </svg>
          </div>
          <h2 class="info__column-title"> Collaborate easily</h2>

          <div class="info__column-paragraph--markdown">
            <p>
              Use Philanthropy Forward to chat or video call, share files, and track project milestones from
              your desktop or mobile.
          </div>
        </div>

      </div>
      <div class="info__column--four-columns">
        <div class="info__column-text-content">
          <div class="info__column-icon info__what__2__info__column-icon">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
              <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
              <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
            </svg>
          </div>
          <h2 class="info__column-title"> Payment simplified</h2>

          <div class="info__column-paragraph--markdown">
            <p>
              Pay hourly or fixed-price and receive invoices through Philanthropy Forward.. Pay for work
              you authorize.
          </div>
        </div>

      </div>
    </div>

    <div class="info__button-container">
      <%= link_to "Sign up", sign_up_path, class: "hero_custom_link hero_custom_btn-outline" %>
    </div>
  </div>
</section>
